#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Nothing to build

override_dh_auto_install:
	dh_auto_install
	# Ensure scripts are executable
	chmod +x $(CURDIR)/debian/clipman/usr/bin/clipman
	chmod +x $(CURDIR)/debian/clipman/usr/bin/clipman-gui
